header {
    .mainLogo {
        a {
            display: block;
            background: url(https://github.com/swwfleur/taiwanTravel/blob/master/app/assets/images/20211102_logo-02.png?raw=true)center center /100%;
            width: 160px;
        height: 100px;
        @include hide-text;
        }
    }
    .mainNav {
        li {
            text-align: center;
            &:before {
                content: "";
                width: 8px;
                height: 8px;
                background-color: transparent;
                border-radius: 50%;
                display: block;
                margin-bottom: 10px;
                margin-left: 20px;
            }
            &:hover {
                background-color: $secondary;
                color: #fff;
            }
        }
        span {
            display: block;
            font-size: 10px;
            margin-top: 4px;
        }
    }
    .myFavorite {
        a span {
            color: $primary;
            &:hover {
                color: $secondary;
            }
        }
    }
}

.banner {
    background: url(https://github.com/swwfleur/taiwanTravel/blob/master/app/assets/images/index_banner.jpg?raw=true)
        center center;
    background-size: cover;
    height: 800px;
    .searchNav {
        background: rgba(255, 255, 255, 0.9);
        padding: 33px 0;
        li {
            padding: 0 30px;
            border-right: 2px solid #ccc;
        }
        li:last-child {
            border-right: none;
        }
        a {
            display: block;
            &:hover {
                color: $secondary;
            }
        }
    }
    .searchArea {
        position: relative;
        bottom: -450px;
    }
    p {
        line-height: 24px;
        color: $font-color;
        letter-spacing: 7px;
        span {
            font-size: 1.7rem;
            color: $primary;
            margin-right: 23px;
        }
    }
}
.exploreArea {
    padding-bottom: 144px;
    .explorePicList {
        gap: 20px;
        li {
            flex-shrink: 0;
            img {
                width: 200px;
                height: 300px;
                object-fit: cover;
                border-radius: 5px;
            }
            h3 {
                width: 20px;
                padding-left: 4px;
            }
        }
    }
    .exploreUpArea {
        position: relative;
        .explorePicList {
            position: absolute;
            right: 0px;
        }
    }
    .exploreDownArea {
        position: relative;
        flex-shrink: 0;
        .explorePicList {
            position: absolute;
            top: 45px;
            right: 70px;
        }
    }
}
.particpateArea {
    background-color: $background;
    .partiPicArea {
        width: 800px;
    }
    .partiTextArea {
        width: 380px;
    }
}
.enjoyArea {
    .enjoyPic {
        gap: 24px;
        padding-left: 4px;
        li {
            overflow: hidden;
            transition: 0.3s;
            img {
                height: 370px;
                width: 250px;
                object-fit: cover;
                border-radius: 5px;
            }
            &:hover img {
                transform: scale(1.2);
            }
        }
    }
}
.subscribe {
    background-color: $primary;
    padding: 139px 0;
    .subPic {
        img {
            width: 600px;
            height: 300px;
            object-fit: cover;
        }
    }
    .mailText {
        color: rgba(255, 255, 255, 0.5);
    }
}
.footerNav {
    padding: 27px 0;
    color: $light-font-color;
    a {
        font-size: 20px;
        color: $light-font-color;
        &:hover {
            color: $font-color;
        }
    }
    .language {
        gap: 21px;
        a {
            font-size: 12px;
        }
    }
}
