// 顏色
$primary: #769763;
$secondary: #F1D675;
$font-color:#737373;
$light-font-color:#C4C4C4;
$background:#FAFAFA;


// 字體
$font-size-base: 1rem; //16px

$h2-font-size: $font-size-base * 3; //48px
$h3-font-size: $font-size-base * 2.25; //36px
$h4-font-size: $font-size-base * 1.75;// 28
$h5-font-size: $font-size-base * 1.125; //18px
$h6-font-size: $font-size-base; //16px
