@charset "UTF-8";
/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Open+Sans:wght@600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #737373;
  text-decoration: none; }

/* rwd img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* 全域 border box */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mainInfon .engTitle, .mainInfon .chTitle {
  font-size: 3rem; }

.mainInfon .engTitle {
  line-height: 48px;
  color: #769763; }

.mainInfon .chTitle {
  line-height: 70px;
  color: #737373;
  letter-spacing: 5px; }

.mainInfon p {
  letter-spacing: 5px;
  line-height: 26px;
  color: #737373;
  font-weight: 400; }

.mainInfon2 .engTitle {
  color: #F1D675; }

.mainInfon2 .chTitle {
  font-size: 2.25rem;
  color: #fff;
  line-height: 52px; }

.mainInfon2 p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400; }

.list {
  padding-top: 42px; }
  .list li {
    padding: 16px 0px 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .list li::before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #F1D675;
      border-radius: 50%;
      display: block;
      display: inline-block;
      margin-right: 16px; }
    .list li a {
      letter-spacing: 5px; }

.block {
  width: 512px;
  padding: 21px 31px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px; }

.block2 {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent; }

.btn {
  font-size: 14px;
  width: 100px;
  border-radius: 50px;
  padding: 4px;
  border: 1px solid #769763;
  color: #769763;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .btn:hover {
    background-color: #769763;
    color: #fff; }

.btn2 {
  border: 1px solid #737373;
  color: #737373;
  width: 150px; }
  .btn2:hover {
    background-color: #737373;
    color: #fff; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.j-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.j-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.a-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.a-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.a-self-center {
  -ms-flex-item-align: center;
      align-self: center; }

.a-self-end {
  -ms-flex-item-align: end;
      align-self: end; }

.mr-1 {
  margin-right: 48px; }

.mr-2 {
  margin-right: 65px; }

.mr-3 {
  margin-right: 40px; }

.mr-4 {
  margin-right: 18px; }

.mr-5 {
  margin-right: 15px; }

.ml-1 {
  margin-left: 40px; }

.mb-1 {
  margin-bottom: 144px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.pb-1 {
  padding-bottom: 56px; }

.wrap {
  max-width: 1295px;
  margin: auto; }

body {
  font-family: "Noto Sans TC", "Open Sans", sans-serif;
  line-height: 1.5;
  color: #737373; }

.wrap {
  max-width: 1295px;
  margin: auto; }

.container {
  max-width: 1040px;
  margin: 0 auto; }

header .mainLogo {
  background-image: url(/app/assets/images/20211102_logo-02.png);
  background-size: 100%;
  width: 160px;
  height: 100px;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap; }

header .mainNav {
  text-align: center; }
  header .mainNav li:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-radius: 50%;
    display: block;
    margin-left: 28px;
    margin-top: 4px; }
  header .mainNav li:hover li:before {
    background-color: #F1D675; }
  header .mainNav span {
    display: block;
    font-size: 10px;
    margin-top: 4px; }

header .myFavorite a span {
  color: #769763; }
  header .myFavorite a span:hover {
    color: #F1D675; }

.banner {
  background: url(/app/assets/images/index_banner.jpg) center center;
  background-size: cover;
  height: 800px; }
  .banner .searchNav {
    background: rgba(255, 255, 255, 0.9);
    padding: 33px 0; }
    .banner .searchNav li {
      padding: 0 30px;
      border-right: 2px solid #ccc; }
    .banner .searchNav li:last-child {
      border-right: none; }
    .banner .searchNav a {
      display: block; }
      .banner .searchNav a:hover {
        color: #F1D675; }
  .banner .searchArea {
    position: relative;
    bottom: -450px; }
  .banner p {
    line-height: 24px;
    color: #737373;
    letter-spacing: 7px; }
    .banner p span {
      font-size: 1.7rem;
      color: #769763;
      margin-right: 23px; }

.exploreArea {
  padding-bottom: 144px; }
  .exploreArea .explorePicList {
    gap: 20px; }
    .exploreArea .explorePicList li {
      -ms-flex-negative: 0;
          flex-shrink: 0; }
      .exploreArea .explorePicList li img {
        width: 200px;
        height: 300px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 5px; }
      .exploreArea .explorePicList li h3 {
        width: 20px;
        padding-left: 4px; }
  .exploreArea .exploreUpArea {
    position: relative; }
    .exploreArea .exploreUpArea .explorePicList {
      position: absolute;
      right: 20px; }
  .exploreArea .exploreDownArea {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .exploreArea .exploreDownArea .explorePicList {
      position: absolute;
      top: 45px;
      right: 70px; }

.particpateArea {
  background-color: #FAFAFA; }
  .particpateArea .partiPicArea {
    width: 800px; }
  .particpateArea .partiTextArea {
    width: 380px; }

.enjoyArea .enjoyPic {
  gap: 24px;
  padding-left: 4px; }
  .enjoyArea .enjoyPic li {
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .enjoyArea .enjoyPic li img {
      height: 370px;
      width: 250px;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 5px; }
    .enjoyArea .enjoyPic li:hover img {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }

.subscribe {
  background-color: #769763;
  padding: 139px 0; }
  .subscribe .subPic img {
    width: 600px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover; }
  .subscribe .mailText {
    color: rgba(255, 255, 255, 0.5); }

.footerNav {
  padding: 27px 0;
  color: #C4C4C4; }
  .footerNav a {
    font-size: 20px;
    color: #C4C4C4; }
    .footerNav a:hover {
      color: #737373; }
  .footerNav .language {
    gap: 21px; }
    .footerNav .language a {
      font-size: 12px; }

/*# sourceMappingURL=all.css.map */
